
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar página{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style="color:green;">Página editada correctamente.
            <a href="{% url 'pages:page' page.id page.title|slugify %}"> Haz click aquí para ver el resultado.</a>
            </p>
          {% endif %}
            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <br>
                <input type="submit" value="Guardar" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}